extends layout

//include header
block content
    .row.row-content(style="margin: 5px 0 5px 0;")
        .col-sm-12.col-xs-12
            .row
                .col-sm-2.col-xs-2
                .col-sm-8.col-xs-8(style="background:#efe9e7; height:auto; border-radius:5px")
                    table.table.table-condensed
                        thead
                            tr
                                th Company
                                th Year
                                th Achievement
                        tbody
                            tr
                                td You have no permission to see
                                td Danh Dang
                                td
                            tr
                                td Position
                                td.td-italic You have no permission to see
                            tr
                                td Salary
                                td.td-italic You have no permission to see (USD)
                            tr
                                td Prime
                                td Yes
                            tr
                                td Moblie
                                td.td-italic You have no permission to see
                            tr
                                td Email
                                td danghoaidanh.com@gmail.com
                            tr
                                td DoB
                                td 30-Jun
                            tr
                                td University
                                td Can Tho (2007-2012)
                            tr
                                td Major
                                td Telecommunication
                            tr
                                td Grade
                                td.td-italic You have no permission to see
                .col-sm-2.col-xs-2