block footer
    .row.row-footer
        .col-sm-12.col-xs-12
            .row
                .col-sm-2.col-xs-2
                .col-sm-8.col-xs-8
                    .footer
                        p Copy right @ 2016 - Powered by danghoaidanh.com
                .col-sm-2.col-xs-2

