extends layout

block content
  .row
    .col-sm-12.one(style="")
      h4(style="") What we provide you?
    .col-sm-12.two
      h4 Build aplications...
      span You can earn money within 04 weeks after the app is built. We apply Agile developing method to building process that's why the app can hit the market as soon as possible with acceptable quality
    .col-sm-12.one
      h4 Test your products...
      span We focus on automation testing so you can save money as much as possible. Most of products can be tested by automation method with supported by Selenium and appium
    .col-sm-12.two
      h4 Consulting Services...
      span We tell you the best way to complete your projects
