extends layout
block content
    .menu-content
        ul
            li: a(href="#") Home
            li: a(href="#") About
            li
                a(href="#") Products
                ul.dropdown
                    li
                        a(href="#") Laptops
                    li
                        a(href="#") Monitors
                    li
                        a(href="#") Printers
            li: a(href="#") Contacts


