<!DOCTYPE html>
<html>
<head><title>home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body>
<div class="row row-half-top">
    <div class="col-sm-12 col-xs-12 top-half-header">
        <div class="row">
            <div class="col-sm-2 col-xs-2"></div>
            <div class="col-sm-2 col-xs-2 brand-custom"><p>danghoaidanh</p></div>
            <div style="" class="col-sm-6 col-xs-6 header-search-custom">
                <form role="search" id="navbar-form-custom">
                    <div class="input-group"><input type="text" placeholder="search" name="srch-term" id="srch-term"
                                                    class="form-control">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 col-xs-2"></div>
        </div>
    </div>
</div>
<div class="row row-header-half-bottom">
    <div class="col-sm-12 col-xs-12 bottom-half-header">
        <div class="row">
            <div class="col-sm-2 col-xs-2"></div>
            <div class="col-sm-8 col-xs-8">
                <ul style="float:right">
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Services</a>
                        <div class="dropdown-content">
                            <a href="#">Development</a>
                            <a href="#">Testing</a>
                            <a href="#">Prices</a>
                        </div>
                    </li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-2"></div>
        </div>
    </div>
</div>
<div style="margin: 5px 0 5px 0;" class="row row-content">
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-sm-2 col-xs-2"></div>
            <div style="background:#efe9e7; height:auto; border-radius:5px" class="col-sm-8 col-xs-8">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Items</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Danh Dang</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td>Senior Engineer</td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td>700 (USD)</td>
                    </tr>
                    <tr>
                        <td>Prime</td>
                        <td>Yes (Three members)</td>
                    </tr>
                    <tr>
                        <td>Moblie</td>
                        <td>0988.227.911</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>danghoaidanh.com@gmail.com</td>
                    </tr>
                    <tr>
                        <td>DoB</td>
                        <td>30-Jun-1989</td>
                    </tr>
                    <tr>
                        <td>University</td>
                        <td>Can Tho</td>
                    </tr>
                    <tr>
                        <td>Major</td>
                        <td>Telecommunication</td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>3.0/4.0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2 col-xs-2"></div>
        </div>
    </div>
</div>
<div class="row row-footer">
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-sm-2 col-xs-2"></div>
            <div class="col-sm-8 col-xs-8">
                <div class="footer"><p>Copy right @ 2016 - Powered by danghoaidanh.com</p></div>
            </div>
            <div class="col-sm-2 col-xs-2"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>